.palette {
    color: #74b65b;
    color: #3f7041;
    color: #ba7b36;
    color: #fbe4b2;
    color: #f2c284;
    color: #fecd06;
    color: #4a3218;
    color: #675c62;
}

body{
    margin: 0;
    padding: 0;
   
}

html {
    background-color: #fbe4b2;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
}

.html-dark {
    background-color: #474747;
}

input, select, textarea {
    color: rgb(64, 64, 117);
}

input::placeholder {
    color: rgb(97, 97, 137);
}

.nav-container {
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 7;
}

.nav-bar {
    background-color: #3f7041;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: flex-start;
}

.nav-bar-dark {
    background-color: #2b2b2b;
}

.nav-item-list {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding-left: 0;
}

.nav-item {
    list-style-type: none;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 6px;
    margin-right: 6px;
}

.nav-item2 {
    list-style-type: none;
    height: 80%;
    display: flex;
    align-items: center;
    border-left: #284f29;
    border-left-width: 2px;
    border-left-style: solid;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: .5vh;
}

.nav-button {
    color: white;
    border: none;
    background: none;
    font-size: 2.5vh;
}

.nav-button:hover {
    cursor: pointer;
    -webkit-filter: drop-shadow(0 0 4px rgb(255, 255, 255, .7));
    filter: drop-shadow(0 0 4px rgb(255, 255, 255, .7));
}

.nav-button:active {
    color: white;
    transform: scale(.95);
}

.nav-button2 {
    color: white;
    border: none;
    background: none;
    font-size: 2.5vh;
}

.nav-button2:hover {
    cursor: pointer;
    -webkit-filter: drop-shadow(0 0 4px rgb(255, 255, 255, .7));
    filter: drop-shadow(0 0 4px rgb(255, 255, 255, .7));
}

.nav-button2:active {
    color: white;
    transform: scale(.95);
}

.nav-logo{
    margin: 8px;
    margin-left: 12px;
}

.menu-container {
    background-color: #74b65b;
    width: 16vw;
    min-width: 201px;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.menu-container-dark {
    background-color: #102012;
}

.menu-card {
    border-right: #3f7041;
    border-right-width: 2px;
    border-right-style: solid;
    margin-top: 20vh;
    padding-right: 1vw;
    height: 15vh;
    margin-right: 2vh;
}

.menu-item-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menu-item {
    display: flex;
    justify-content: flex-end;
}

.menu-button {
    color: white;
    border: none;
    background: none;
    font-size: 3vh;
    font-family: 'Ubuntu', sans-serif;
    margin-left: auto;
    margin-right: 0;
}

.menu-button:hover {
    cursor: pointer;
    -webkit-filter: drop-shadow(0 0 4px rgba(255, 255, 255, 1));
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 1));
}

.menu-button:active {
    color: white;
    transform: scale(.95);
}    

.menu-card-search {
    border-right: #3f7041;
    border-right-width: 2px;
    border-right-style: solid;
    margin-top: 12vh;
    padding-right: 1vw;
    height: 15vh;
    margin-right: 2vh;
}

.menu-search {
    border: none;
    border-radius: 6px;
    height: 2vh;
    outline: none;
    padding: 4px;
    width: 8vw;
    min-width: 140px;
    margin-top: .5vh;
    margin-right: .3vw;
}

.menu-search:focus {
    box-shadow: 0 0 8px rgb(0, 200, 255);
}

.menu-footer {
    border-top: #3f7041;
    border-top-width: 2px;
    border-top-style: solid;
    margin-top: 15vh;
    margin-left: 2vh;
    margin-right: 2vh;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.6vh;
}

.footer-text {
    margin-top: 3vh;
    text-align: center;
}

.copyright-text {
    text-align: center;
}

.main-container {
    height: 95vh;
    width: 84vw;
    min-width: 630px;
    margin-left: 16vw;
    position: absolute;
    top: 5vh;
    display: flex;
    justify-content: space-evenly;
}

.card-container{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    padding: 10px;
    margin: 25px;
    background-color: #74b65b;
    height: fit-content;
    min-width: 350px;
    width: 40%;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #000000;
    position: relative;
    border: 2px solid #3f7041;
    color: white;
}

.card-container-dark{
    background-color: #2b2b2b;
    border: 2px solid #102012;
}

.info-container{
    font-family: 'Ubuntu', sans-serif;
    background-color: #f8e9c8;
    padding: 4px;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    height: fit-content;
    border-radius: 6px;
    margin-bottom: 5px;
    color: #284f29;
    display: flex;
    justify-content: space-between;
}

.img-container {
    height: 100%;
}

.info-container-dark{
    color: white;
    border: 2px solid #102012;
    background-color: #535353;
}

.poke-description{
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    background-color: #3f7041;
    height: fit-content;
    border-radius: 6px;
    padding: 4px;
    justify-content: space-between;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    color: white;
    font-size: 1.5vh;
}

.poke-description-dark {
    background-color: #102012;
}

.left-side-container{
    border: 7px solid green;
    border: none;
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.user-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    height: 40vh;
    padding: 40px; 
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    box-sizing: border-box;
    box-shadow: 2px 4px 5px rgba(0,0,0,.5);
    border: 7px solid #3f7041;
    border-radius: 10px;  
    border-top: 40px solid #3f7041;
    background: url(../../../../assets/images/trainer-card-bg.png);
    background-size: cover;
    background-position: bottom;
    color: #4a3218;
    font-family: poppins;
    font-size: 15px;
}

.user-container-dark {
    border: 7px solid #102012; 
    border-top: 40px solid #102012;
    background: url(../../../../assets/images/trainer-card-bg-dark.png);
    background-size: cover;
    background-position: bottom;
    color: white;
}

.user-container h2 {
    margin: 0;
    margin-bottom: 16px;
    text-align: center;
    color: #3f7041;
}

.user-container-dark h2 {
    color: white;
}

.sprite-container {
    height: 20vh;
}

.current-view {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.username-bar {
    font-size: 3vh;
    background-color: #284f29;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    text-align: center;
    width: 80%;
    color: white;
}

.username-bar-dark {
    background-color: #2b2b2b;
}

.current-user-list {
    font-size: 2vh;
    color: white;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 2vh;
    padding: 0;
    width: 100%;
}

.current-user-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pokeball-container {
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    zoom: .6;
}

.right-side-container{
    border: none;
    background-color: none;
    align-items: center;
}

.history-card {
    border: 7px solid #3f7041;
    height: 75vh;
    background-color: #f8e9c8;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow-y: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-shadow: 2px 4px 5px rgba(0,0,0,.5);
    width: 65vh;
    font-family: poppins;
}

.history-card-dark {
    background-color: #505050;
    border: 7px solid #102012;
}

.history-header {
    margin-top: 4vh;
    height: 3vh;
    border: 7px solid #3f7041;
    background-color: #3f7041;
    color: white;
    text-align: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.history-header-dark {
    border: 7px solid #102012;
    background-color: #102012;
}

.history-text {
    position: relative;
    bottom: 6px;
    font-size: 3vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.user-history {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #ecf0f1;
}

.center-on-page {
    position: absolute;
    top: 75%;
    left: 30.3%;
    width: 100%;
}

/* Poké Styles */
.pokeball {
    position: relative;
    z-index: 2;
    width: 200px;
    height: 200px;
    background: #fff;
    border: 10px solid rgb(46, 17, 17);
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset -10px 10px 0 10px #ccc;
    animation: fall .25s ease-in-out,
               shake 1.25s cubic-bezier(.36,.07,.19,.97) 3;
}

.pokeball::before,
.pokeball::after {
    content:"";
    position: absolute;
}

.pokeball::before {
    background: url(../../../../assets/images/ultra_believe_in_me.png);
    background-size: 200px;
    width: 100%;
    height: 50%;
}

.pokeball::after {
    top: calc(50% - 10px);
    width: 100%;
    height: 20px;
    background: rgb(46, 17, 17);
}

.pokeball__button {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    width: 60px;
    height: 60px;
    background: #7f8c8d;
    border: 10px solid #fff;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 0 10px rgb(46, 17, 17);
    animation: blink .5s alternate 7;
}

  /* Animation */
@keyframes blink {
    from { background: #eee;}
    to { background: #e74c3c; }
}

@keyframes shake {
    0% { transform: translate(0, 0) rotate(0); }
    20% { transform: translate(-10px, 0) rotate(-20deg); }
    30% { transform: translate(10px, 0) rotate(20deg); }
    50% { transform: translate(-10px, 0) rotate(-10deg); }
    60% { transform: translate(10px, 0) rotate(10deg); }
    100% { transform: translate(0, 0) rotate(0); }
}

@keyframes fall {
    0% { top: -200px }
    60% { top: 0 }
    80% { top: -20px }
    100% { top: 0 }
}